/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Oct-2019, 10:29:30 AM
    Author     : Tetiana
*/

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;

}
.footer,
.push {
  height: 50px;
}

.footerText{
    color: white;
}
#userIdLogin, #passwordLogin, #passwordConfirm, #PhoneNum, #Name{
    width: 400px;
    height: 40px;
    background-color: bisque;
    border-radius: 5px;
}

input{
    width: 300px;   
    border-radius: 3px;
}

.headTableTitle{
    font-weight: bold;
}
